

/*Basic CSS Selectors-------------------- */

* {
  box-sizing: border-box;
}
body {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Kreon', serif;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

p {

 text-align: center;


}

 h2 {
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;

}

h4 {
  text-align: center;
  margin-bottom: 0;
}




/* Header Styles--------------------- */


header {
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #f5f5f5;
  text-align: center;


}


header h1 {

  text-align: center;
  margin: 15px 15px;


}

.container {
  margin-top: 50px;
  padding-bottom: 1px;
}

header .main-nav {
  margin: 20px 0;

}

 header .main-nav li {
  display: block;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  margin: 10px;
}
header .main-nav li a {
  padding: 35px 50px;


}


header .profile-image {
  padding: 0 30px 10px 30px;
}

.profile-speech {
  margin-bottom: 30px;
}




/*  Main Styles-----------------*/



img {
  max-width: 100%;
}

.portfolio-unit {
  margin: 20px 0;
}

#contact {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f5f5f5;
  border-bottom: 2px solid grey;
}






/* Footer styles------------------- */

footer {

  font-size: 1em;
  height: 100px;

}

.footer-nav li  {
  display: none;
}

.top-of-page {
  display: inline-block;
  float: right;
  width: 30%;
}

#name {
  display: inline-block;
  float: left;
  font-weight: bold;
}



/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}









/*  Media queries*/

@media (min-width: 768px) {
.wrapper {
  margin: 0 auto;
}

 .profile-image{

   display: inline-block;
   float: right;
   margin-left: 10px;
   margin-right: 10px;
   }

.profile-speech {
  font-size: 1.25em;
  text-align: justify;
  padding: 0 10px 0 10px;
}

header {
  height: 500px;
}



header .main-nav li {
  display: inline-block;
  background-color: #f5f5f5;
}

.contact-info {
  font-size: 1.25em;
  margin: 0 100px 50px 100px;
  text-align: left;
}


.footer-nav {
  display: inline-block;
  float: right;

}

.footer-nav  li  {
  display: inline-block;
  float: left;
  margin: 0 20px 0 20px;
  text-transform: uppercase;
}



.col {
  float: left;
  width: 50%;
  padding-left: .25em;
  padding-right: .25em;
}

#name {
  margin: 0 0 0 15px;

}

.top-of-page {
  display: none;
}


}




@media (min-width: 1024px) {
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1500px;
  }

header h1 {
  display: inline-block;
  float: left;

  }
header {
  height: 400px;
}

 header .main-nav {
  display: inline-block;
  float: right;
}

.container {
  margin:100px 0 10px 0;
}

header .main-nav li {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.profile-speech {
  font-size: 1.75em;
}
h2 {
  font-size: 1.25em;
  margin: 100px 0 30px 0;
  padding: 50px 0;
}

.col {
  float: left;
  width: 33%;
  padding-left: .25em;
  padding-right: .25em;
}
.contact-info {
  font-size: 1.5em;
  margin: 0 200px 100px 200px;
  text-align: left;
}
.contact {
  height: 450px;
}
 #name {
   font-size: 1.25em;
 }

 .footer-nav {
   margin: 0px;


 }

 .footer-nav li {
   margin: 0 40px 0 50px;

 }

}
